.services-list-section{
    text-align: center;
    /* margin-top: 5rem; */
    margin: 5rem 9rem 0 9rem;
}
.services-list-section h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.services-list-section h2{
    font-size: 2.5rem;
}
.list-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 5rem;
}
.list-wrapper article {
    background: white;
    color: black;
    height: fit-content;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1.5rem;
    flex-direction: column;
}
.list-wrapper article h3{
    font-size: 1.5rem;
    font-weight: 500;
}