header {
    position: fixed;
    width: 100vw;
    background: linear-gradient(135deg,var(--primary-color),var(--primary-color-variant));
}
header .container {
    display: flex;
    height: 5rem;
    width: 94rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 -35rem 0 14rem;
}
header .container img{
   height: 5rem;
}
.container ul {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style-type: none;
}
.container ul li, .auth-details {
    font-size: 1rem;
    font-weight: 600;
}
.container ul li a, .auth-details{
    text-decoration: none;
    color: var(--white-color);
}
.container .auth_section img{
    border-radius: 100%;
    height: 3.5rem;
}
.container .auth_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.sticky_header {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
}

@media screen and (max-width : 1024px) {
    header {
        
    }
}